h1 {text-align: center; color: rgb(3, 3, 59); font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', sans-serif;}
    body {background-image: url(bg.png); background-size: 5%;}

    img {
        width: 50%;
        height: 50%;
        border-radius: 25px;
        align-content: center;
    }

    button {float: none; font-size: 150%; margin-left: 33.75%; margin-right: 25%; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', sans-serif;}

p {text-align:center; font-weight: bold; font-size: large; font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', sans-serif; color: rgb(rgb(8, 23, 41))}

.iconclass
{
    width: 20%;
    height: 20%;
}